/* +++ Reset [Section] +++ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* +++ Base [Section] +++ */
* { 
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway-medium';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-semi-bold';
    src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

@keyframes fadeIn {
    0%      { opacity:0; }
    100%    { opacity:1; }
}

html, body { 
    scroll-behavior: smooth;
}

body {
    display : flex;
    min-height : 100vh;
    flex-direction : column;

    font-family : 'Raleway-medium', Arial, Helvetica, sans-serif;
    font-size : 1em;

    --blue : #0065fc;
    --blue-light : #DEEBFF;
    --grey : #f2f2f2;
    --grey-darker : #d9d9d9;
}

h1,h2,h3 { 
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
}

h1,h2 {
    font-size : 1.375rem;
}

h1 {
    padding-bottom : 0.75rem;
}

h2 {
    padding : 0.25rem 0 1.5625rem 0;
}

input {
    font-family : 'Raleway-medium', Arial, Helvetica, sans-serif;
}

button { 
    background: none;
    font-family: inherit;
    font-size : inherit;
    cursor : pointer;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color : inherit;
}

a:visited {
    color : inherit;
}


/* +++ Generic Classes [Section] +++ */
.blue { 
    color : var(--blue); 
}

.grey-darker { 
    color : var(--grey-darker); 
}

.icon-info {
    width : 1.5rem;
    min-width : 1.5rem;
    height : 1.5rem;
    margin-left : -2.1875rem;
    margin-right : 0.6875rem;

    text-align : center;
    font-size : 0.75rem;
    color : var(--blue);
    line-height : 1.5rem!important;

    border : 0.0625rem solid var(--grey);
    border-radius: 1.25rem;
}

/* -- .btn-see-more [Module] -- */
.btn-see-more {
    display : none;
    justify-content: center;
    align-items: center;
    width : 1.875rem;
    height : 1.875rem;
    position: absolute;
    bottom : 0.3125rem;
    right : 0.3125rem;

    background-color : var(--blue);

    border-radius : 1.875rem;

    font-size : 1rem;
    color : white;
    
    z-index : 2;
}

.btn-see-more::after {
    position: absolute;
    top: -0.3125rem;
    right: -0.3125rem;
    bottom: -0.3125rem;
    left: -0.3125rem;
    z-index: 1;
    content: "";
    background-color: transparent;
}

.btn-see-more:visited {
    color : white;
}

.btn-see-more:hover {
    transform: scale(1.1);
}

.btn-see-more i {
    padding-left : 0.0625rem;
}


/* -- .card [Module] -- */
.card {
    position : relative;
    overflow : hidden;
    border-radius : 1.25rem;  
    background-color : white; 
    width : 100%;  
    box-shadow: 0rem 0.25rem 0.625rem rgba(0,0,0,0.1);
    display : flex; 
    animation : fadeIn ease 1s;    
}

.card:hover {
    box-shadow: 0rem 0.25rem 0.625rem rgba(0,0,0,0.2);
}

.card:hover .btn-see-more {
    display : flex;
}

.card img {
    object-fit: cover; 
    object-position: 50% 50%; 
}

.card__title { 
    padding-bottom : 0.375rem;

    line-height: 1.25rem;
    font-size : 1rem;
}

.card__thumbnail {
    margin-bottom : -0.125rem;
}

.card__price-by-night {
    font-size : 0.8438rem;
    margin-bottom : 0.375rem;
    letter-spacing : 0.0063rem;
}

.card__price-by-night strong, 
.card__price-by-night__money-type { 
    font-family : 'Raleway-bold', Arial, Helvetica, sans-serif; 
}

.card__stars {
    font-size : 0.75rem;
    letter-spacing: -0.0813rem;
}



/* +++ Layout global [Section] +++ */
.l-header, .l-main {  
    padding : 0 3.125rem;
    width : 100%;
    max-width: 90rem;
    margin : auto;
}

.l-main {
    flex : 1;
}

.l-footer { 
    padding : 2.9375rem 3.125rem;
    background-color : var(--grey)
}



/* +++ Header [Section] +++ */

/* -- Header [Module] -- */
.header { 
    display:flex;
    align-items: center;
    margin-bottom : 0.875rem;
}

.header__logo { 
    margin-top : -0.125rem;
}

.header__menu { 
    display : block; 
    margin-left : auto;
    
    font-size : 1rem;
}
    
.header__menu ul {
    display : flex; align-items:center;
}

.header__menu__item a{ 
    display : block; 
    padding : 3rem 1.1875rem; 
    margin-left : 1.875rem; 
    
    border-top : 0.125rem solid transparent; 
}

.header__menu__item a:visited {
    color : inherit;
}

.header__menu__item a:hover {
    color : var(--blue); 
    border-color : var(--blue);
}

.header__btn-subscribtion { 
    display : block;
    color : var(--blue); 
    
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;

    border : 0.125rem solid transparent;
    border-radius : 1.875rem;
    padding : 0.625rem 1.5625rem;
    margin-left : 1.875rem; 
    cursor : pointer;
    user-select: none;
}

.header__btn-subscribtion:hover {
    border-color : var(--blue);
}

.header__btn-subscribtion:visited {
    color : var(--blue);
}


/* +++ Research [Section] +++ */
    
/* -- Layout Research -- */
.research__result {
    margin: 1.4375rem 0 2.3125rem 0;
    padding-left : 2.1875rem;

    letter-spacing: -0.0063rem;
}

/* -- search [Module] -- */
.search {
    display : flex;
    height : 3.1875rem;
    width : 26.25rem;
    margin-top : 1.25rem;

    border : 0.0625rem solid var(--grey);
    border-radius : 1rem;
}

.search__map {
    min-width : 3.125rem;
    height : 100%;
    padding : 0;

    border : none;
    border-radius : 0.9375rem 0 0 0.9375rem ; 
    
    background-color: var(--grey);

    font-size : 1.125rem;
}

.search__map:hover {
    background-color: #ececec;
}

.search__map:active {
    background-color : #ececec;
    box-shadow: 0 0 0.375rem inset rgba(0,0,0,0.3);
}

.search__input {
    display : inline;
    padding : 0 1.0625rem;
    width : 100%;

    border : none;

    font-size : 1.125rem;
    font-family : 'Raleway-bold', Arial, Helvetica, sans-serif;
}

.search__validation {
    min-width : 8.375rem;
    cursor : pointer;

    color : white;

    border : none;
    border-radius : 0 0.8125rem 0.8125rem 0; 

    background-color : var(--blue);

    font-family : 'Raleway-semi-bold', Arial, Helvetica, sans-serif;   
}

.search__validation:hover {
    background-color : #085fe0;
}

.search__validation:active {
    background-color : var(--blue);
    box-shadow: 0 0 0.375rem inset rgba(0,0,0,0.7);
}

.search__validation__text{
    display:inline;
}

.search__validation__icon{
    display : none;
}

/* -- filter [Module] -- */
.filter {
    margin-top : 1.9375rem;
    display : flex;
    flex-wrap: wrap;
    align-items: center;

    font-family : 'Raleway-bold', Arial, Helvetica, sans-serif;
    font-size : 1.125rem;
}

.filter__title{
    margin : 0rem 2rem 0.75rem 0;

    font-size : 1.125rem;
}

.filter__btn-container {
    display : flex;
    flex-wrap: wrap;
}

.filter__btn-container input {
    display : none;
}

.filter__btn-container input:checked + .btn-filter .btn-filter__icon {
    background-color : transparent;
    color : var(--blue);
}

.filter__btn-container input:checked + .btn-filter {
    background-color : #dfebff;
    color : var(--blue);
    border-color : transparent;
}

/* -- btn-filter [Module] -- */
.btn-filter {
    display : flex;
    align-items : center;
    height: 3.125rem;
    padding : 0;
    border-radius : 1.875rem;
    margin : 0 1.5rem 0.75rem 0;
    
    background-color: transparent;

    border : 0.125rem solid var(--grey-darker);

    font-family : inherit;
    font-size : inherit;

    cursor : pointer;
    user-select: none;
    outline : none;
}

.btn-filter:hover {
    background-color : var(--grey-darker); 
}

.btn-filter__icon {
    width : 3.125rem;
    height : 3.125rem;
    position: relative;
    left : -0.125rem;

    background-color : var(--blue-light);

    border : 0.125rem solid transparent;
    border-radius : 1.875rem;

    font-size : 1.25rem;
    text-align : center;
    line-height : 3.125rem!important;
    color : var(--blue);
}

.btn-filter__caption {
    padding : 0 1.375rem 0 0.625rem;
    white-space : nowrap;
}

        
/* +++ Logement [Section] +++ */
    
/* -- Layout -- */
.logement-container {
    display : flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

/* -- related-logement [Module] -- */
.related-logement{
    width : 65.67%;
    margin-right : 2.5rem;
}

.related-logement, .popular-logement {
    padding : 2.5rem;

    border-radius : 1.25rem;

    background-color : var(--grey);
}

.popular-logement__card-container .card-popular-home:nth-child(3) {
    margin-bottom : 0;
}

.related-logement__card-container {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.related-logement__see-more {
    display : block;
    margin-top : 0.6875rem;

    font-size : 1.125rem;
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
}

.related-logement__see-more a:hover {
    text-decoration: underline;
}

/* -- .card-home [module] -- */
.card-home {
    flex-direction: column;
    width : 30.75%;
    margin-bottom : 1.9375rem;
}

.card-home, .card-popular-home {
    border : 0.3125rem solid white;
}

.card-home .card__caption {  
    display : flex;
    flex-direction: column;
    height : calc(100% - 7.125rem);
    margin : 0.5rem 0.6875rem 0.3125rem 0.6875rem; 
}

.card-home .card__price-by-night {
    flex: 1;
}

.card-home img {
    height: 7.125rem;
    width : 100%;
}
    

/* +++ Popular logement [section] +++ */

.popular-logement { 
    width : 31.343%;
    min-width: 22.8125rem;
}

.popular-logement__title {
    display: flex;
    justify-content: space-between;
}

.popular-logement .card:nth-child(n+4) {
    margin : 0;
}


/* -- .card-popular-home [module] -- */
.card-popular-home {
    flex-direction: row; margin-bottom : 2.0625rem; height : 9rem;
}

.card-popular-home img {
    height: 100%;
    min-width : 6.5rem;
    width : 6.5rem;
}

.card-popular-home .card__caption { 
    margin : 0.6875rem 0.6875rem 0.3125rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.card-popular-home .card__price-by-night{
    flex : 1;
}


/* +++ popular-logement [section] +++ */

/* -- .card-activity [module] -- */
.card-activity { 
    position : relative;
    display : block;
}

.card-activity img {
    height : 100%;
    width : 100%;
}

.card-activity .card__caption {
    position :absolute;
    bottom : 0;
    left : 0;
    right : 0;
    background-color : white;
}

.card-activity .card__title { 
    padding : 1.25rem 0 1.25rem 1.25rem;
}

.card-activity .btn-see-more {
    bottom : 0.625rem;
    right : 0.625rem;
}

        
/* +++ Activity [section] +++ */      

/* -- .activity-related [module] */
.activity-related {
    margin : 0 0 5.6875rem 0;
}

.activity-related__card-container {
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height : 27.875rem;
}

.activity-related__card-container .card-activity { width : 22.53%;  }

.activity-related__card-container .card-activity:first-child,
.activity-related__card-container .card-activity:nth-child(4) {
    height : 100%;
}

.activity-related__card-container .card-activity:nth-child(2) { 
    height : 14.875rem;
}

.activity-related__card-container .card-activity:nth-child(3) {
    height : 10.25rem;
}

.activity-related__card-container .card-activity:nth-child(5) {
    height : 12.125rem;
}

.activity-related__card-container .card-activity:last-child {
    height : 13rem;
}


/* +++ footer [section] +++ */    

/* -- .legal-mention__container [module] -- */
.legal-mention__container {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding : 0 3.125rem;
    max-width: 90rem;
    margin : auto;
}

.legal-mention__container .legal-mention:last-child {  
    padding-right : 0;
}

/* -- .legal-mention [module] -- */
.legal-mention {
    padding-right : 3.75rem;
    padding-bottom: 1.25rem;
}

.legal-mention__title {
    display : block;
    margin-bottom : 1.4375rem;

    font-size : 1.125rem;
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
}

.legal-mention__list li {
    margin-bottom : 0.9375rem;
}

.legal-mention__list a:hover {
    text-decoration: underline;
}

        
/* --@ media queries @-- */
@media screen and (max-width : 1199px) {
    
    /* +++ Logement [Section] +++ */
    .logement-container {
        flex-direction : column;
    }

    .related-logement, .popular-logement {
        width : 100%;
    }
    
    /* +++ Popular logement [Section] +++ */
    .popular-logement {
        margin-bottom: 2.5rem;
    }

    .related-logement {
        order : 1;
    }

    .popular-logement__card-container {
        display : flex;
        justify-content: space-between;
    }
    .popular-logement__card-container .card-popular-home {
        margin-bottom : 0;
    }

    .card-popular-home {
        flex-direction: column; 
        margin-bottom : 1.9375rem;
        height : auto;
        width : 30.75%;
    }

    .card-popular-home img {
        height: 7.125rem;
        width : 100%;
    }
    
    .card-popular-home .card__caption { 
        margin: 0.5rem 0.6875rem 0.3125rem 0.6875rem;
        height : calc(100% - 7.125rem);
    }

    .card-popular-home .card__stars {
        position : relative;
    }

    /* +++ Activity [Section] +++ */
    
    .activity-related__card-container{
        height : auto;
        flex-direction: row ;
    }
    .activity-related__card-container .card-activity { 
        height: 12.1875rem !important;
        width : 31%;
    }

    .activity-related__card-container .card-activity:nth-child(-n+3) { 
        margin-bottom: 1.875rem;
    }

    .activity-related {
        margin : 0 0 3.8125rem 0;
    }


    

}

@media screen and (max-width : 768px) {

    /* +++ Base [Section] +++ */ 
    h2 {
        padding : 0.25rem 0 1.75rem 0;
    }

    /* +++ Layout [Section] +++ */ 
    .l-main {
        padding : 0;
    }

    .l-header {
        padding : 1.6875rem 0rem 1.9375rem 0rem;
    }

    /* +++ Header [Section] +++ */   
    .header {
        flex-wrap: wrap;
        margin : 0;
    }

    .header__menu {
        width : 100%;
        order: 1;
    }

    .header__menu__item a {
        padding : 1.625rem 0 0.875rem 0 ; 
        margin : 0; 
        border-top: none; 
        border-bottom : 0.1875rem solid var(--grey); 
    }

    .header__menu__item {
        width : 50%; 
        text-align : center; 
    }

    .header__logo {
        margin-left : 1.25rem;
    }

    .header__btn-subscribtion {
        margin-left : auto;
        padding : 0.3125rem 0 0.3125rem 0.3125rem;
        margin-right : 1.25rem;
    }

    .header__btn-subscribtion:hover {
        border-color : transparent;
        text-decoration: underline;
    }

    .header__btn-subscribtion:active {
        background-color : transparent;
        color : black;
    }

    /* +++ Research [Section] +++ */ 
    .research {
        padding : 0 1.25rem;
    }
    .research h1 {
        line-height: 1.625rem;
        padding-bottom : 1rem; 
    }

    .search {
        margin-top: 2.1875rem;
        max-width : 26.25rem;
        width : auto;
    }

    .search__validation { 
        min-width : 3.1875rem;
        border-radius : 0.8125rem;
    }

    .search__validation__text {
        display : none;
    }

    .search__validation__icon {
        display : inline;
    }
    
    .filter {
        margin : 2.1875rem -0.6875rem 0 0;
    }

    .btn-filter {
        margin : 0 0.6875rem 0.8125rem 0;
    }

    .btn-filter__caption {
        font-size : 1rem;
        padding: 0 1.125rem 0 0.625rem;
    }

    .research__result {
        margin: 1.125rem 0 2.3125rem 0;
    }

    /* +++ Logement [Section] +++ */ 
    .related-logement, .popular-logement {
        width : 100%;
        border-radius: 0;
        padding : 2.25rem 1.25rem;
        margin : 0;
    }

    .related-logement {
        background-color: white;
    }

    .logement-container {
        margin : 0rem;
    }

    .card-home {
        width : 47%;
    }

    /* +++ Activity [Section] +++ */ 
    .activity-related {
        padding : 0 1.25rem;
    }
    
    .activity-related__card-container .card-activity { 
        width : 47%;
    }

    .activity-related__card-container .card-activity:nth-child(-n+4) { 
        margin-bottom: 1.875rem;
    }


    /* +++ Footer [Section] +++ */
    .l-footer {
        height : auto;
        padding : 3rem 1.75rem 1.75rem 1.75rem;
    }

    .legal-mention__container {
        flex-wrap: wrap;
        padding : 0;
    }
    
    .legal-mention { 
        margin : 0 0 1.75rem 0;
    }

    .legal-mention__container .legal-mention:nth-child(3) {
        margin : 0;
    }

}

@media screen and (max-width : 610px) {

    /** +++ Logement [Section] +++ */
    .popular-logement__card-container { 
        display : block;
    }

    .card-popular-home { 
        flex-direction: row;
        margin-bottom : 2.0625rem;
        height : 9rem;
        margin: 0 0 0.6875rem 0; 
        width : auto;
    }

    .card-popular-home img {
        height: 100%; 
        width : 11.25rem;
        min-width : 11.25rem; 
    }

    .card-popular-home .card__caption { 
        height : auto;
    }

    .popular-logement__card-container .card-popular-home:nth-child(-n+2) {
        margin-bottom : 2.0625rem;
    }   
    
}

@media screen and (max-width: 425px) {

    /** +++ Logement [Section] +++ */
    .logement-container {
        flex-direction : column;
    }

    .popular-logement {
        min-width : auto;
    }

    .card-popular-home img {
        width : 6.5rem;
        min-width : 6.5rem;
    }

    .related-logement {
        order : 1;
        background-color : transparent;
        padding: 2.25rem 1.25rem 0 1.25rem;
    }
 
    .card-home {
        width : 100%;
        margin: 0 0 0.75rem 0;
    }

    .related-logement__see-more {
        margin: 1.25rem 0 0 0;
    }

    /** +++ Activity [Section] +++ */
    .activity-related {
        margin : 0 1.25rem 1.5625rem 1.25rem;
        padding : 2.25rem 0 0 0;
    }

    .card-activity {
        width : 100% !important;
        height : 11.875rem;
        margin-bottom : 1.875rem;
    }
}