/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base __________- */
*{ 
    box-sizing: border-box;
 }

@font-face {
    font-family: 'Raleway-medium';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

a{
    text-decoration: none;
}

body{
    display : flex;
    min-height : 100vh;
    max-width: 1440px;
    flex-direction : column;
    margin : auto;
    padding : 0 55px;

    font-family : 'Raleway-medium', Arial, Helvetica, sans-serif;
    font-size : 1em;

}

/* Layout ______- */

.l-main { flex : 1; }
.l-footer { height : 220px; }

/* Module ____- */
.header { 
    display:flex;
    align-items: center;
    justify-content: space-between;
}
    
    .header__menu { 
        display : flex; 
        margin-right : -25px;
    }
    .header__menu ul { display : flex; align-items:center; }

        .header__menu ul { display : flex; align-items:center; }

            .header__menu__item { 
                display : block; 
                padding : 48px 25px; 
                margin-left : 30px; 
                
                border-top : 2px solid transparent; 
            }
            .header__menu__item:visited { color : inherit; }
            .header__menu__item:hover { color : #0065fc;  }
            .header__menu__item:focus { color : #0065fc; border-color : #0065fc; }

        .header__btn__subsription { 
            display : block;
            color : #0065fc; 
            font-weight : bold; 
            border : 2px solid transparent;
            border-radius : 30px;
            padding : 10px 25px;
            margin-left : 30px; 
        }
        .header__btn__subsription:hover { border : 2px solid #0065fc; }
        .header__btn__subsription:visited { color : #0065fc; }
        .header__btn__subsription:active { background-color : #0065fc; color : white; }



