/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base __________ */
@font-face {
    font-family: 'Raleway-medium';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-semi-bold';
    src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}


* { 
    box-sizing: border-box;
 }

body {
    display : flex;
    min-height : 100vh;
    max-width: 1440px;
    flex-direction : column;
    margin : auto;
    padding : 0 50px;

    font-family : 'Raleway-medium', Arial, Helvetica, sans-serif;
    font-size : 16px;
}

h1,h2,h3 { font-family: 'Raleway-bold', Arial, Helvetica, sans-serif; }
h1,h2 { font-size : 22px; }
h1 { padding-bottom : 16px; }
h2 { padding-bottom : 25px; }


input {
    font-family : 'Raleway-medium', Arial, Helvetica, sans-serif;
}

button { 
    cursor : pointer;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color : inherit;
}

a:visited {
    color : inherit;
}

/* Layout ______ */

.l-main { flex : 1; }
.l-footer { height : 220px; }

.blue { color : #0065fc; }

.grey { color : #d9d9d9;  }

/* Module ______ */
.header { 
    display:flex;
    align-items: center;
    justify-content: space-between;
}
    
    .header__menu { 
        display : flex; 
        margin-right : -25px;
        
        font-size : 16px;
    }
    .header__menu ul { display : flex; align-items:center; }

        .header__menu ul { display : flex; align-items:center; }

            .header__menu__item { 
                display : block; 
                padding : 48px 25px; 
                margin-left : 30px; 
                
                border-top : 2px solid transparent; 
            }
            .header__menu__item:visited { color : inherit; }
            .header__menu__item:hover { color : #0065fc;  }
            .header__menu__item:focus { color : #0065fc; border-color : #0065fc; }

        .header__btn__subsription { 
            display : block;
            color : #0065fc; 
            font-weight : bold; 
            border : 2px solid transparent;
            border-radius : 30px;
            padding : 10px 25px;
            margin-left : 30px; 
        }
        .header__btn__subsription:hover { border : 2px solid #0065fc; }
        .header__btn__subsription:visited { color : #0065fc; }
        .header__btn__subsription:active { background-color : #0065fc; color : white; }


/*------------SECTION RESEARCH---------------*/
.search {
    display : flex;
    overflow: hidden; 
    height : 51px;
    width : 420px;
    margin-top : 20px;
}

.search input {
    font-size : 18px;
}

    .search_map {
        min-width : 50px;
        min-height : 50px;
        padding : 0;

        border : none;
        border-radius : 13px 0 0 13px ; 
        
        background-color: #f2f2f2;

        font-size : 16px;
    }
    .search_map:hover { background-color: #ececec; }
    .search_map:active { background-color : #ececec; box-shadow: 0 0 6px inset rgba(0,0,0,0.3); }

    .search_input {
        display : inline;
        padding : 0 17px;
        width : 100%;

        border : 1px solid #f2f2f2;
        
        font-family : 'Raleway-bold', Arial, Helvetica, sans-serif;
    }

    .search_validation {
        min-width : 134px;
        cursor : pointer;

        color : white;

        border : none;
        border-radius : 0 13px 13px 0; 

        background-color : #0065fc;

        font-family : 'Raleway-semi-bold', Arial, Helvetica, sans-serif;   
    }
    .search_validation:hover { background-color : #1c77ff; }
    .search_validation:active { background-color : #1c77ff; box-shadow: 0 0 6px inset rgba(0,0,0,0.5); }





.filter {
    margin-top : 30px;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    font-family : 'Raleway-bold', Arial, Helvetica, sans-serif;
    font-size : 16px;
}

.btn-filter {
    display : flex;
    align-items : center;
    height: 50px;
    padding : 0;
    border-radius : 30px;
    margin : 12px 25px 12px 0;
    
    background-color: transparent;

    border : 2px solid #d9d9d9;

    font-family : inherit;
    font-size : inherit;

}
.btn-filter:focus {  background-color : #f2f2f2;  border-color : transparent }
.btn-filter:focus .btn-filter__icon { background-color : #0065fc; color : #deebff; }

    .btn-filter__icon {
        display : flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        min-height: 50px;
        border-radius : 30px;
        position: relative;
        left : -2px;

        background-color : #deebff;

        color : #0065fc;
    }

    .btn-filter__caption {
        padding : 0 25px 0 15px;
        white-space : nowrap;
    }

.research__result {
    display : flex;
    align-items: center;
    margin: 35px 0;
}
    .icon-info {
        display : flex;
        justify-content: center;
        align-items: center;
        width : 24px;
        height : 24px;

        font-size : 12px;

        color : #0065fc;

        border : 2px solid #f2f2f2;
        border-radius: 20px;
    }
    .research__result p {
        margin-left : 12px;
    }

/*------------SECTION Hébergement---------------*/

.logement-container {
     display : flex;
}
.logement-container section {
    width : 100%;
}
    .related-logement, .popular-logement {
        padding : 40px;

        border-radius : 20px;

        background-color : #f2f2f2;
    }
    .popular-logement { flex-shrink: 2; }

    .related-logement__row {
        display : flex;
        justify-content: space-between;
        margin-bottom : 29px;
    }
    .related-logement__row .card:nth-child(3n) { margin-right : 0!important; }

    .related-logement__see-more {
        margin-top : 25px;
        font-size : 18px;
        border : 1px solid red;
        font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
    }

/* .card design ------ */
    .card {
        position : relative;
        overflow : hidden;
        border-radius : 20px;  
        background-color : white; 
        width : 100%;  
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        display : flex; 
        transition: all 100ms;     
    }

    .card:hover{
        transform : scale(1.05);
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    }

        .card a::after {
            position: absolute;
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            z-index: 1;
            pointer-events: auto;
            content: "";
            background-color: transparent;
        }

        .card img{
            object-fit: cover; 
            object-position: 50% 50%; 
        }

        .card__title { 
            padding-bottom : 8px;
            font-size : 16px;
        }

        .card__price-by-night { font-size : 13.5px; margin-bottom : 7px; letter-spacing : 0.1px; }
        
        .card__price-by-night strong { font-family : 'Raleway-semi-bold', Arial, Helvetica, sans-serif; }
        
        .card__stars { font-size : 12px; letter-spacing: -1.3px; }
/* ---------- */

/* .v-card-home design --- */

.v-card-home, .h-card-home { border : 5px solid white; margin-right : 30px; }

.v-card-home .card__caption, .h-card-home .card__caption  {  margin : 10px 11px 5px 11px; }

.v-card-home { flex-direction: column; }

    .v-card-home .card__thumbnail { margin-bottom : -2px; }

    .v-card-home img { height: 114px; width : 100%; }

/* --- */

/* h-card-home design --- */

.h-card-home { flex-direction: row; margin-bottom : 33px; }

    .h-card-home img { height: 144px; max-width : 133px; }

    .h-card-home .card-home__stars { position : absolute; bottom : 5px; }

/* --- */

    .popular-logement { 
        margin-left : 40px;  
    }
        .popular-logement__title {
            display: flex;
            justify-content: space-between;
        }
        .popular-logement .card:nth-child(n+4){ margin : 0; }



        
